<footer class="main-footer">
    <div class="footer-left">
      Copyright &copy; 2024 <div class="bullet"></div><span>Amio</span>
    </div>
    <div class="footer-right">

    </div>
  </footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="/assets-2/modules/jquery.min.js"></script>
<script src="/assets-2/modules/popper.js"></script>
<script src="/assets-2/modules/tooltip.js"></script>
<script src="/assets-2/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets-2/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/assets-2/modules/moment.min.js"></script>
<script src="/assets-2/js/stisla.js"></script>

<!-- JS Libraies -->

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="/assets-2/js/scripts.js"></script>
<script src="/assets-2/js/custom.js"></script>
</body>

</html>