<!DOCTYPE html>
<html lang="en">


<!-- Amio/index-7.html  22 Nov 2019 09:56:39 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amio</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Amio - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon amio.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon amio.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon amio.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/favicon amio.png">
    <meta name="apple-mobile-web-app-title" content="Amio">
    <meta name="application-name" content="Amio">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-7.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-7.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="wishlist.html"><i class="icon-heart-o"></i>My Wishlist <span>(3)</span></a>
                                    </li>
                                    <% if (locals.sessionUser) { %>
                                        <li ><a href="<%= locals.endPoint %>"><i class="icon-user"></i><%= locals.sessionUser %></a></li>
                                    <% } %>
                                        <li class="<%= locals.class %>"><a href="/login"><i class="icon-user"></i>Login</a></li>
                                        <li class="<%= locals.class %>"><a href="/signup"><i class="icon-user"></i>Signup</a></li>
                                    <% if (locals.sessionUser) { %>
                                        <li ><a href="/logout"><i class="icon-user"></i>Logout</a></li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                       
                        <a href="index.html" class="logo">
                            <img src="/assets/images/amio logo.png" alt="Amio Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="category.html" class="sf-with-ul">Men</a>
                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title">Brands</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="product.html">Timex</a></li>
                                                        <li><a href="product-centered.html">Fastrack</a></li>
                                                        <li><a href="product-extended.html"><span>Missoni<span
                                                                        class="tip tip-new">New</span></span></a></li>
                                                        <li><a href="product-gallery.html">Casio</a></li>
                                                        <li><a href="product-sticky.html">Apple</a></li>
                                                        <li><a href="product-sidebar.html">Daniel Wellington</a></li>
                                                        <li><a href="product-fullwidth.html">Philipp Plein</a></li>
                                                        <li><a href="product-masonry.html">Versace</a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html">
                                                        <img src="/assets/images/menu/banner-3.jpg" alt="Banner">

                                                        <div class="banner-content banner-content-bottom">
                                                            <div class="banner-title text-white">New
                                                                Trends<br><span><strong>Luxuary 2024</strong></span>
                                                            </div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm -->
                                   
                                </li>
                                <li>
                                    <a href="product.html" class="sf-with-ul">Women</a>

                                    <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title">Brands</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="product.html">Timex</a></li>
                                                        <li><a href="product-centered.html">Fastrack</a></li>
                                                        <li><a href="product-extended.html"><span>Missoni<span
                                                                        class="tip tip-new">New</span></span></a></li>
                                                        <li><a href="product-gallery.html">Casio</a></li>
                                                        <li><a href="product-sticky.html">Apple</a></li>
                                                        <li><a href="product-sidebar.html">Daniel Wellington</a></li>
                                                        <li><a href="product-fullwidth.html">Philipp Plein</a></li>
                                                        <li><a href="product-masonry.html">Versace</a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html">
                                                        <img src="/assets/images/menu/banner-2.jpg" alt="Banner">

                                                        <div class="banner-content banner-content-bottom">
                                                            <div class="banner-title text-white">New
                                                                Trends<br><span><strong>Luxuary 2024</strong></span>
                                                            </div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm -->
                                </li>
                                <li>
                                    <a href="/about">About</a>
                                </li>
                                <li>
                                    <a href="/contact" class="px-0">Contact</a>
                                </li>
                                <li>
                                    <a href="/FAQs">FAQs</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        

                        <div class="cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->