 <!-- Plugins CSS File -->
 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
 <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
 <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
 <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
 <!-- Main CSS File -->
 <link rel="stylesheet" href="/assets/css/style.css">
 <link rel="stylesheet" href="/assets/css/skins/skin-demo-7.css">
 <link rel="stylesheet" href="/assets/css/demos/demo-7.css">

 <main class="main">
    <div class="error-content text-center" style="background-image: url(/assets/images/backgrounds/error-bg.jpg)">
        <div class="container">
            <h1 class="error-title">Error 404</h1><!-- End .error-title -->
            <p>We are sorry, the page you've requested is not available.</p>
            <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>BACK TO HOMEPAGE</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->
</main><!-- End .main -->

<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>



